@font-face {
  font-family: inter-bold;
  src: url("../assets/fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: inter-regular;
  src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: tilt-neon;
  src: url("../assets/fonts/tiltneon-regular.woff2") format("woff2");
}
