@import "./variables";

@mixin headings {
  font-family: $font_tilt_neon;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  border-bottom: 5px solid $warning;
  font-size: $heading_font_size;
}

@mixin small-headings {
  font-family: $font_tilt_neon;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  border-bottom: 3px solid $danger;
}
@mixin backgroundsvg() {
  aspect-ratio: 3/2;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
  width: fit-content;
  gap: 1rem;
}
