$dark: #020243;
$primary: #45a29e;
$warning: #dca628;
$light: #fbf5e5;
$danger: #9b0d0d;
$dark_hover: #0066ff7e;
$font_inter_bold: inter-bold;
$font_inter_regular: inter-regular;
$font_tilt_neon: tilt-neon;
$heading_font_size: clamp(2.55rem, 10vw, 5.5rem);
$small_heading_font_size: clamp(1.5rem, 5vw, 1.9rem);
$text-font: clamp(0.5rem, 10vw, 1.1rem);
